package ${basePackage}.controller;

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import ${corePackage}.results.Result;
import ${corePackage}.results.ResultGenerator;
import ${basePackage}.entity.${table.entityName};
import ${basePackage}.dao.${table.entityName}Repository;
import com.github.pagehelper.PageHelper;
import com.github.pagehelper.PageInfo;
import org.apache.commons.lang3.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.web.bind.annotation.*;
import java.util.Arrays;
import java.util.List;

/**
 * @Title: ${table.entityName}Controller
 * @ProjectName
 * @Description: TODO
 * @author ${author}
 * @date ${date()}
 */
@RestController
@RequestMapping("${table.mappingPath}")
public class ${table.entityName}Controller {


    @Autowired
    private ${table.entityName}Repository ${table.entityNameFirstLow}Repository;





    @RequiresPermissions("bg:${strutil.toLowerCase(table.entityName)}")
    @PostMapping
    public Result add(${table.entityName} ${table.entityNameFirstLow}) {
        ${table.entityNameFirstLow}Repository.insert(${table.entityNameFirstLow});
        return ResultGenerator.genSuccessResult();
    }



    /**
    * 批量删除
    * @param checkIds
    * @return
    */
    @RequiresPermissions("bg:${strutil.toLowerCase(table.entityName)}")
    @GetMapping("delpl")
    public Result delpl(String checkIds) {
        if(StringUtils.isEmpty(checkIds)){
            return ResultGenerator.genFailResult("数据为空!");
        }
        try{
            ${table.entityNameFirstLow}Repository.deleteBatchIds(Arrays.asList(checkIds.split(",")));
        }catch (Exception e){
            return ResultGenerator.genFailResult("所选数据已被关联无法删除");
        }
        return ResultGenerator.genSuccessResult();
    }



    @RequiresPermissions("bg:${strutil.toLowerCase(table.entityName)}")
    @PutMapping("/{id:\\d+}")
    public Result update(${table.entityName} ${table.entityNameFirstLow}) {
        ${table.entityNameFirstLow}Repository.updateById(${table.entityNameFirstLow});
        return ResultGenerator.genSuccessResult();
    }

    @RequiresPermissions("bg:${strutil.toLowerCase(table.entityName)}")
    @GetMapping("/{id:\\d+}")
    public Result detail(@PathVariable Integer id) {
        ${table.entityName} ${table.entityNameFirstLow} = ${table.entityNameFirstLow}Repository.selectById(id);
        return ResultGenerator.genSuccessResult(${table.entityNameFirstLow});
    }


    @RequiresPermissions("bg:${strutil.toLowerCase(table.entityName)}")
    @GetMapping
    public Result list(<%for(item in table.columnModels){%><%if(item.isChoose){%>@ApiParam(value = "${item.remarks}")@RequestParam(name = "${item.columnNameLowerCamel}",defaultValue = "") ${item.javaType} ${item.columnNameLowerCamel},<%}}%>
                        @RequestParam(name = "page",defaultValue = "1") Integer page,
                        @RequestParam(name = "size",defaultValue = "10") Integer size) {
        PageHelper.startPage(page, size);

        QueryWrapper<${table.entityName}> wapper = new QueryWrapper<>();
        <%for(item in table.columnModels){%>
        <%if(item.isChoose){%>
        <%if(item.javaType=="String"){%>
        if(StringUtils.isNotEmpty(${item.columnNameLowerCamel})){
            wapper.like("${item.columnNameLowerCamel}",${item.columnNameLowerCamel});
        }
        <%}else{%>
        <%}}}%>
        List<${table.entityName}> list = ${table.entityNameFirstLow}Repository.selectList(wapper);
        PageInfo pageInfo = new PageInfo(list);
        return ResultGenerator.genSuccessResult(pageInfo);
    }
}
