package ${basePackage}.entity;

import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
import com.fasterxml.jackson.annotation.JsonFormat;
import javax.persistence.*;
import java.math.BigDecimal;
import java.math.BigInteger;
import java.io.Serializable;
import java.util.Date;
import java.util.List;
import org.springframework.format.annotation.DateTimeFormat;

/**
 * @Title: ${table.entityName}
 * @ProjectName
 * @Description: TODO
 * @author ${author}
 * @date ${date()}
 */
@Entity
@Data
@Table(name = "${table.tableName}")
@NoArgsConstructor
@AllArgsConstructor
public class ${table.entityName}  implements Serializable{

    <%for(item in table.columnModels){%>
    /** ${item.remarks} */
    <%if(item.isKey){%>
    @Id
    <%}%>
    <%if(item.javaType=="Date"){%>
    @DateTimeFormat(pattern="yyyy-MM-dd HH:mm:ss")
    @JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss",timezone="GMT+8")
    <%}%>
    private ${item.javaType} ${item.columnNameLowerCamel};
    <%}%>

}

