<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="Author" content="">
    <meta content="" name="design">
    <title>列表查询</title>
    <link rel="stylesheet" href="/backresourse/css/pagination.css"/>
    <link rel="stylesheet" href="/backresourse/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/backresourse/css/style.css"/>
    <script type="text/javascript" src="/backresourse/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/backresourse/js/base.js"></script>
    <script type="text/javascript" src="/backresourse/js/html5shiv.v3.72.min.js"></script>
    <script type="text/javascript" src="/backresourse/js/pagination.js"></script>
    <script type="text/javascript" src="/backresourse/js/vue.min.js"></script>
    <script type="text/javascript" src="/backresourse/js/vue-resource.min.js"></script>
    <script src="${ctxPath}/laydate/laydate.js"></script>
    <%var imgtype=0;%>
    <%for(item in table.columnModels){%>
    <%if(strutil.contain(strutil.toLowerCase(item.columnNameLowerCamel),"img")){imgtype=1;}%>
    <%}%>
    <%if(imgtype==1){%>
    <script type="text/javascript" src="/backresourse/js/imgutil.js"></script>
    <%}%>
    <%var checktype=0;var searchtype=0;%>
    <%for(item in table.columnModels){%>
    <%if(strutil.toLowerCase(item.typeName)=="text"){checktype=1;}%>
    <%}%>
    <%if(checktype==1){%>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
    <%}%>

    <script type="text/javascript">
        function checkall(){
            $(".check").prop("checked",$(".checkall").prop("checked"));
        }

        function modifyMethod(){
            var count=0;
            var courseId="";
            $(".check").each(function(){
                if($(this).prop("checked")){
                    courseId=$(this).val();
                    count++;
                }
            })
            if(count==0||count>1){
                alert("请选择一条数据");
                return false;
            }
            vm.modify(courseId);
        }



        function delMethod(){
            var count=0;
            var checkId="";
            $(".check").each(function(){
                if($(this).prop("checked")){
                    if(checkId==""){
                        checkId=$(this).val();
                    }else{
                        checkId+=","+$(this).val();
                    }
                    count++;
                }
            })
            if(count==0){
                alert("请选择数据");
                return false;
            }
            vm.deldata(checkId);
        }
    </script>
</head>
<body>
<!--头部 开始-->
${includetop}
<!--头部 结束-->
<div class="wrap">
    ${includeleft}
    <div class="content">
        <h4>列表查询<i></i></h4>
        <div class="topsearch">
            <%for(item in table.columnModels){%>
            <%if(item.isChoose){%>
            <%searchtype=1;%>
            ${item.remarks}:<input type="text" id="${item.columnNameLowerCamel}">
            <%}%>
            <%}%>

            <%if(searchtype==1){%>
            <a href="javascript:void(0)" @click="search()">查询</a>
            <%}%>
        </div>


        <div class="topsearch">
            <a href="javascript:void(0)" @click="modify()">新增信息</a>
            <a href="javascript:void(0)" onclick="modifyMethod()">编辑</a>
            <a href="javascript:void(0)" onclick="delMethod()">删除</a>
        </div>


        <table class="tt">
            <thead>
            <tr>
                <th width="3%">序号</th>
                <th width="3%"><input type="checkbox" class="checkall" onclick="checkall()">全选</th>
                <%for(item in table.columnModels){%>
                <%if(!item.isKey&&strutil.toLowerCase(item.typeName)!="text"){%>
                <th width="${100/(itemLP.size+1)}%">${item.remarks}</th>
                <%}%>
                <%}%>
            </tr>
            </thead>

            <tbody id="contextdetail">

            <tr v-if="list.length==0">
                <td colspan="20">暂无数据</td>
            </tr>

            <tr v-for="(item,index) in list">
                <td>{{ index+1 }}</td>
                <td><input type="checkbox" class="check" :value="item.${table.columnModels[0].columnNameLowerCamel}"></td>
                <%for(item in table.columnModels){%>
                <%if(!item.isKey&&strutil.toLowerCase(item.typeName)!="text"){%>
                <%if(item.javaType=="Date"){%>
                <td>{{item.${item.columnNameLowerCamel}|datafmt('yyyy-MM-dd')}}</td>
                <%}else if(strutil.contain(strutil.toLowerCase(item.columnNameLowerCamel),"img")){%>
                <td><img v-if="item.${item.columnNameLowerCamel}!=null&&item.${item.columnNameLowerCamel}!=''" :src="'${ctxPath}/projectimg/'+item.${item.columnNameLowerCamel}"/></td>
                <%}else{%>
                <td>{{ item.${item.columnNameLowerCamel} }}</td>
                <%}%>
                <%}%>
                <%}%>
            </tr>
            </tbody>
        </table>

    </div>
    <!--分页-->
    ${pageview}
</div>



<!--添加修改弹框-->
<div v-if="diglogshow" class="diglog">
    <div class="diglog-child">
        <div style="text-align: right" @click="dighide"><img src="${ctxPath}/backresourse/images/close_2.png" alt=""></div>
        <%for(item in table.columnModels){%>
            <%if(!item.isKey&&item.columnNameLowerCamel!="addtime"){%>
                <%if(item.javaType=="Date"){%>
                <p class="p2"><span>${item.remarks}</span><input type="text" id="${item.columnNameLowerCamel}" readonly="readonly"/></p>
                <%}else if(item.javaType=="Integer"){%>
                <p class="p2"><span>${item.remarks}</span><input type="number" v-model.number="obj.${item.columnNameLowerCamel}"/></p>
                <%}else if(strutil.toLowerCase(item.typeName)=="text"){%>
                <p class="p6"><span>详情</span>
                <div class="fuwenben">
                    <textarea class="richtext" id="${item.columnNameLowerCamel}"></textarea>
                </div>
                </p>
                <%}else if(strutil.contain(strutil.toLowerCase(item.columnNameLowerCamel),"img")){%>
                <p class="p2"><span>${item.remarks}</span>
                    <input type="file" id="${item.columnNameLowerCamel}data" onchange="uploadBtnChange('${item.columnNameLowerCamel}data','${item.columnNameLowerCamel}val','${item.columnNameLowerCamel}img','${ctxPath}')"/>
                    <input type="hidden" id="${item.columnNameLowerCamel}val">
                    <img style="width: 100px;" id="${item.columnNameLowerCamel}img">
                </p>
                <%}else{%>
                <p class="p2"><span>${item.remarks}</span><input type="text" v-model="obj.${item.columnNameLowerCamel}"/></p>
                <%}%>
            <%}%>
        <%}%>
        <div class="clear"></div>
        <button class="btn" @click="commit(obj.${table.columnModels[0].columnNameLowerCamel})">
            <a href="javascript:void(0)">提交</a>
        </button>
    </div>
</div>
<!--添加修改弹框-->

<script type="text/javascript">
    $(function () {
        $("#${strutil.split(table.tableName,"_")[0]}").addClass('on');
        $("#${table.entityNameLowcase}").addClass('on');
        $("#${strutil.split(table.tableName,"_")[0]}xx").css("display","block");
        $(".sidebar").css("width","189px");
        var temp=$("#${table.entityNameLowcase}").find('ul').html();
        $(".left-menu2").find('h5').html("findall");
        $(".left-menu2").find('ul').html(temp);
        $(".left-menu2").css("display","none");
        $(".content").css("margin-left","208px");
    });
</script>
<script type="text/javascript" src="/backresourse/js/pagejsutil.js"></script>
<script type="text/javascript">
    function commitckeck(){
        <%for(item in table.columnModels){%>
            <%if(strutil.contain(strutil.toLowerCase(item.columnNameLowerCamel),"img")){%>
            if($("#${item.columnNameLowerCamel}val").val()!=""){
                dig.obj.${item.columnNameLowerCamel}=$("#${item.columnNameLowerCamel}val").val();
            }
            <%}%>
            <%if(strutil.toLowerCase(item.typeName)=="varchar"){%>
            if(dig.obj.${item.columnNameLowerCamel}!=null&&dig.obj.${item.columnNameLowerCamel}.length>${item.precision}){
                alert('${item.remarks}不得超过${item.precision}个字符');
                return false;
            }
            <%}%>
            <%if(item.javaType=="Date"){%>
            if(dig.obj.${item.columnNameLowerCamel}!=null){
                dig.obj.${item.columnNameLowerCamel}=new Date(dig.obj.${item.columnNameLowerCamel});
            }else{
                dig.obj.${item.columnNameLowerCamel}=null;
            }
            dig.obj.${item.columnNameLowerCamel}=new Date($("#${item.columnNameLowerCamel}").val()).format("yyyy-MM-dd hh:mm:ss");
            <%}%>

            <%if(strutil.toLowerCase(item.typeName)=="text"){%>
                dig.obj.${item.columnNameLowerCamel}=UE.getEditor('${item.columnNameLowerCamel}').getContent();
            <%}%>
        <%}%>
        return true;
    }

    function ckeckrepit(){
        return true;
    }
    vm.getpath="${ctxPath}${table.mappingPath}";
    vm.gopage();



    <%if(searchtype==1){%>
    function search(){
        vm.param='';
        <%for(item in table.columnModels){%>
            <%if(item.isChoose){%>
            var ${item.columnNameLowerCamel}=$("#${item.columnNameLowerCamel}").val();
            if(${item.columnNameLowerCamel}!=''){
                vm.param+="&${item.columnNameLowerCamel}="+${item.columnNameLowerCamel};
            }
            <%}%>
        <%}%>
        vm.gopage();
    }
    <%}%>

    function initfwb(){
    <%if(checktype==1){%>
        <%for(item in table.columnModels){%>
        <%if(strutil.toLowerCase(item.typeName)=="text"){%>
            UE.delEditor('${item.columnNameLowerCamel}');
            var ue = UE.getEditor('${item.columnNameLowerCamel}');
            ue.ready(function() {
                if(dig.modifyflag == 2) {
                    //设置编辑器的内容
                    ue.setContent(dig.obj.${item.columnNameLowerCamel});
                }else{
                    ue.setContent(" ");
                }
            });
        <%}%>
        <%}%>

    <%}%>

    <%for(item in table.columnModels){%>
        <%if(item.javaType=="Date"&&item.columnNameLowerCamel!="addtime"){%>
                if(dig.obj.${item.columnNameLowerCamel}!=null){
                    $("#${item.columnNameLowerCamel}").val(new Date(dig.obj.${item.columnNameLowerCamel}).format("yyyy-MM-dd hh:mm:ss"));
                }
                laydate.render({
                    elem: '#${item.columnNameLowerCamel}',
                    type: 'datetime',
                    trigger: 'click',//  解决弹框闪现
                    choose: function (date) {
                        $("#${item.columnNameLowerCamel}").val(date);
                    }
                });
        <%}%>
    <%}%>
    }
</script>
</body>
</html>
