package ${basePackage}.service.impl;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${basePackage}.dao.${table.entityName}Repository;
import com.chemguan.entity.${table.entityName};
import ${basePackage}.service.${table.entityName}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;



/**
 * @Title: ${table.entityName}ServiceImpl
 * @ProjectName
 * @Description: TODO
 * @author ${author}
 * @date ${date()}
 */
@Service
@Transactional
public class ${table.entityName}ServiceImpl extends ServiceImpl<${table.entityName}Repository, ${table.entityName}>
            implements ${table.entityName}Service {
    @Autowired
    private ${table.entityName}Repository ${table.entityName}Repository;

}
